include version.txt
include src/rssdk/drv.dll
include src/rssdk/*.pyx
include src/rssdk/*.h

include sdk/utils/*

include sdk/dio/include/*.h
include sdk/dio/src/*.h
include sdk/dio/src/controllers/*.h

include sdk/poe/include/*.h
include sdk/poe/src/*.h
include sdk/poe/src/controllers/*.h


