include version.txt
include src/rssdk/drv.dll
include src/rssdk/*.pyx
include src/rssdk/*.h

include SDK/utils/*

include SDK/dio/include/*.h
include SDK/dio/src/*.h
include SDK/dio/src/controllers/*.h

include SDK/poe/include/*.h
include SDK/poe/src/*.h
include SDK/poe/src/controllers/*.h


